name: Build and Push Images

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  REGISTRY: europe-west1-docker.pkg.dev
  REPOSITORY: my-repository
  BRANCH: ${{ github.ref_name }}

  IMAGE_SERVER: zelhs/project_server
  IMAGE_TODO: zelhs/todoapp
  IMAGE_RANDOM: zelhs/random-article
  IMAGE_BACKUP: zelhs/backup-service
  IMAGE_BROADCASTER: zelhs/broadcaster

jobs:
  build-publish:
    name: Build and Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GKE_SA_KEY }}'

      - name: 'Set up Cloud SDK'
        uses: google-github-actions/setup-gcloud@v2

      - run: gcloud --quiet auth configure-docker $REGISTRY

      - name: 'Form image names'
        run: |
          echo "IMAGE_TAG_SERVER=$REGISTRY/$PROJECT_ID/$REPOSITORY/$IMAGE_SERVER:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV
          echo "IMAGE_TAG_TODO=$REGISTRY/$PROJECT_ID/$REPOSITORY/$IMAGE_TODO:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV
          echo "IMAGE_TAG_RANDOM=$REGISTRY/$PROJECT_ID/$REPOSITORY/$IMAGE_RANDOM:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV
          echo "IMAGE_TAG_BACKUP=$REGISTRY/$PROJECT_ID/$REPOSITORY/$IMAGE_BACKUP:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV
          echo "IMAGE_TAG_BROADCASTER=$REGISTRY/$PROJECT_ID/$REPOSITORY/$IMAGE_BROADCASTER:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV

      - name: Build & Push project_server
        run: |
          docker build -t $IMAGE_TAG_SERVER .
          docker push $IMAGE_TAG_SERVER

      - name: Build & Push todoApp
        run: |
          docker build -t $IMAGE_TAG_TODO ./todoApp
          docker push $IMAGE_TAG_TODO

      - name: Build & Push createRandomTodo
        run: |
          docker build -t $IMAGE_TAG_RANDOM ./createRandomTodo
          docker push $IMAGE_TAG_RANDOM

      - name: Build & Push backup
        run: |
          docker build -t $IMAGE_TAG_BACKUP ./todoApp/backup
          docker push $IMAGE_TAG_BACKUP
     
      - name: Build & Push broadcaster
        run: |
          docker build -t $IMAGE_TAG_BROADCASTER ./broadcaster
          docker push $IMAGE_TAG_BROADCASTER

      # Directly update config repo
      - name: Checkout config repository
        uses: actions/checkout@v4
        with:
          repository: andreasZel/devops_with_kubernetes_project_server_configuration
          token: ${{ secrets.CONFIG_REPO_TOKEN }}
          path: config-repo

      - name: Set up Kustomize
        uses: imranismail/setup-kustomize@v2.1.0

      - name: Update config repository
        run: |
          if [[ "${{ github.ref }}" == refs/tags/* ]]; then
            OVERLAY_PATH="config-repo/manifest/overlays/production"
            ENV="production"
          else
            OVERLAY_PATH="config-repo/manifest/overlays/staging"
            ENV="staging"
          fi
          
          cd $OVERLAY_PATH
          
          kustomize edit set image \
            $REGISTRY/$PROJECT_ID/$REPOSITORY/$IMAGE_SERVER=$IMAGE_TAG_SERVER
          kustomize edit set image \
            $REGISTRY/$PROJECT_ID/$REPOSITORY/$IMAGE_TODO=$IMAGE_TAG_TODO
          kustomize edit set image \
            $REGISTRY/$PROJECT_ID/$REPOSITORY/$IMAGE_RANDOM=$IMAGE_TAG_RANDOM
          kustomize edit set image \
            $REGISTRY/$PROJECT_ID/$REPOSITORY/$IMAGE_BACKUP=$IMAGE_TAG_BACKUP
          kustomize edit set image \
            $REGISTRY/$PROJECT_ID/$REPOSITORY/$IMAGE_BROADCASTER=$IMAGE_TAG_BROADCASTER
          
          cd ../../..
          git config user.name "GitHub Actions Bot"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Update $ENV images - ${{ github.ref_name }}@${{ github.sha }}"
          git push