name: Build and Push Images

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  REGISTRY: europe-west1-docker.pkg.dev
  REPOSITORY: my-repository
  BRANCH: ${{ github.ref_name }}

  IMAGE_SERVER: zelhs/project_server
  IMAGE_TODO: zelhs/todoapp
  IMAGE_RANDOM: zelhs/random-article
  IMAGE_BACKUP: zelhs/backup-service
  IMAGE_BROADCASTER: zelhs/broadcaster

jobs:
  build-publish:
    name: Build and Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GKE_SA_KEY }}'

      - name: 'Set up Cloud SDK'
        uses: google-github-actions/setup-gcloud@v2

      - run: gcloud --quiet auth configure-docker $REGISTRY

      - name: 'Form image names'
        run: |
          echo "IMAGE_TAG_SERVER=$REGISTRY/$PROJECT_ID/$REPOSITORY/$IMAGE_SERVER:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV
          echo "IMAGE_TAG_TODO=$REGISTRY/$PROJECT_ID/$REPOSITORY/$IMAGE_TODO:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV
          echo "IMAGE_TAG_RANDOM=$REGISTRY/$PROJECT_ID/$REPOSITORY/$IMAGE_RANDOM:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV
          echo "IMAGE_TAG_BACKUP=$REGISTRY/$PROJECT_ID/$REPOSITORY/$IMAGE_BACKUP:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV
          echo "IMAGE_TAG_BROADCASTER=$REGISTRY/$PROJECT_ID/$REPOSITORY/$IMAGE_BROADCASTER:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV

      - name: Build & Push project_server
        run: |
          docker build -t $IMAGE_TAG_SERVER .
          docker push $IMAGE_TAG_SERVER

      - name: Build & Push todoApp
        run: |
          docker build -t $IMAGE_TAG_TODO ./todoApp
          docker push $IMAGE_TAG_TODO

      - name: Build & Push createRandomTodo
        run: |
          docker build -t $IMAGE_TAG_RANDOM ./createRandomTodo
          docker push $IMAGE_TAG_RANDOM

      - name: Build & Push backup
        run: |
          docker build -t $IMAGE_TAG_BACKUP ./todoApp/backup
          docker push $IMAGE_TAG_BACKUP
     
      - name: Build & Push broadcaster
        run: |
          docker build -t $IMAGE_TAG_BROADCASTER ./broadcaster
          docker push $IMAGE_TAG_BROADCASTER

      # Trigger config repo update
      - name: Trigger Config Repository Update
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.CONFIG_REPO_TOKEN }}" \
            https://api.github.com/repos/andreasZel/devops_with_kubernetes_project_server_configuratio/dispatches \
            -d '{
              "event_type": "update-images",
              "client_payload": {
                "branch": "${{ github.ref_name }}",
                "sha": "${{ github.sha }}",
                "is_tag": "${{ startsWith(github.ref, '\''refs/tags/'\'') }}",
                "image_server": "'"$IMAGE_TAG_SERVER"'",
                "image_todo": "'"$IMAGE_TAG_TODO"'",
                "image_random": "'"$IMAGE_TAG_RANDOM"'",
                "image_backup": "'"$IMAGE_TAG_BACKUP"'",
                "image_broadcaster": "'"$IMAGE_TAG_BROADCASTER"'"
              }
            }'